*{box-sizing:border-box;-moz-box-sizing:border-box}body{font-size:14px;font-family:helvetica neue,Helvetica,Arial,sans-serif;color:#555}.iti__hide{display:none}pre{margin:0!important;display:inline-block}.token.operator,.token.entity,.token.url,.language-css .token.string,.style .token.string,.token.variable{background:0 0}input,button{height:41px;margin:0;padding:6px 12px;border-radius:2px;font-family:inherit;font-size:100%;color:inherit}input[disabled],button[disabled]{background-color:#eee}input,select{border:1px solid #ccc;width:250px}::-webkit-input-placeholder{color:#bbb}::-moz-placeholder{color:#bbb;opacity:1}:-ms-input-placeholder{color:#bbb}button{color:#fff;background-color:#428bca;border:1px solid #357ebd}button:hover{background-color:#3276b1;border-color:#285e8e;cursor:pointer}#result{margin-bottom:100px}
.focus{
    margin-left: 40px;
    color: #68687e;
    margin-top: 40px;
    font-weight: 600;
    margin-left: 25px;
}

.col-md-4{
    display: inline-block;
    margin-left:-10px;
  }
  .col-md-4 img{
    width:100%;
    height:auto;
  }
    
  body .carousel-control-prev-icon,
  body .carousel-indicators li,
  body .carousel-control-next-icon{
    background-color:#000;
  }
  
  span.carousel-control-prev-icon {
   position: relative;
   bottom: 40px;
   right: 40px;
  }
  
  span.carousel-control-next-icon {
   position: relative;
   bottom: 40px;
  }
  .sp1{
    margin-left: -39px;
    margin-top: -29px;
    color: black;
}
  
  .sp2{
    /* margin-top: -415px;
    color: black; */
    /* margin-left: -11px; */
    /* border: 2px solid black; */
    border-radius: 10px;
    /* margin-left: -39px; */
    margin-top: -29px;
    color: black;
}

  
 .latest{
  margin-left: -76px;
    color: #000;
    margin-top: 3px;
}
hr {
 
    background: #a54e5d;
    padding: 2px;
    width: 97px;
    margin-left: 27px;
   
    border-radius: 5px;
    /* margin-top: -36px; */
}
#vertical{
  border: 1px solid;
  width: 37px;
  background: #a54e5d;
  margin-left: 129px;
}
/* .election{
  text-align: center;
    margin-left: 84px;
    margin-top: 10px;
}
.lorem{
  margin-left: 125px;
  margin-top: 10px;
}
#bottom{
  border: 1px dotted;
  width: 240px;
  background: #a54e5d;
  margin-left: 129px;
}
#bjp-work{
  width: 223px;
  margin-left: 128px;
}
#year-work{
  color: white;
    margin: 109px;
    padding: 3px;
    margin-left: 264px;
    border: 1px solid #a54e5d;
    background: #a54e5d;
} */
#main-banner{
  height: 300px;
    width: 1270px;
}

.timer {
  margin: 0 -199px 45px;
  font-family: sans-serif;
  color: #fff;
  display: inline-block;
  font-weight: 100;
  text-align: center;
  font-size: 30px;
}
.timer div {
  padding: 10px;
  border-radius: 3px;
  background: #000000;
  display: inline-block;
  font-family: Oswald;
  font-size: 26px;
  font-weight: 400;
  width: 80px;
}
.timer .smalltext {
  color: #888888;
  font-size: 12px;
  font-family: Poppins;
  font-weight: 500;
  display: block;
  padding: 0;
  width: auto;
}
.timer #time-up {
  margin: 8px 0 0;
  text-align: left;
  font-size: 14px;
  font-style: normal;
  color: #000000;
  font-weight: 500;
  letter-spacing: 1px;
}

.social {
  position: fixed;
  top: 89px;
  right:0px;
}

.social ul {
padding: 0px;
-webkit-transform: translate(270px, 0);
-moz-transform: translate(270px, 0);
-ms-transform: translate(270px, 0);
-o-transform: translate(270px, 0);
transform: translate(270px, 0);
}

.social ul li {
  display: block;
  margin: 3px;
  background: rgba(171, 219, 209, 0.36);
  width: 300px;
  text-align: left;
  padding: 5px;
  -webkit-border-radius: 30px 0 0 30px;
  -moz-border-radius: 30px 0 0 30px;
  border-radius: 30px 0 0 30px;
  -webkit-transition: all 1s;
  -moz-transition: all 1s;
  -ms-transition: all 1s;
  -o-transition: all 1s;
  transition: all 1s;
}

.social ul li:hover {
-webkit-transform: translate(-110px, 0);
-moz-transform: translate(-110px, 0);
-ms-transform: translate(-110px, 0);
-o-transform: translate(-110px, 0);
transform: translate(-110px, 0);
background: rgba(173, 178, 177, 0.4);
}

.social ul li:hover a {
color: #000;
}

.social ul li:hover i {
color: #fff;
background: #16a085;
}

.social ul li i {
margin-right: 10px;
color: #000;
background: #fff;
padding: 10px;
-webkit-border-radius: 50%;
-moz-border-radius: 50%;
border-radius: 50%;
width: 40px;
height: 40px; 
font-size: 20px;
background: #ffffff;
-webkit-transform: rotate(0deg);
-moz-transform: rotate(0deg);
-ms-transform: rotate(0deg);
-o-transform: rotate(0deg);
transform: rotate(0deg);

}
.sidebar-page-container .sidebar .sidebar-post .post-inner .post{
	position: relative;
	padding: 0px 0px 0px 75px;
	padding-bottom: 10px;
	margin-bottom: 6px;
	border-bottom: 1px solid #e5e5e5;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post:last-child{
	border-bottom: none;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date{
    position: absolute;
    left: 0px;
    top: 4px;
    width: 54px;
    height: 54px;
    text-align: center;
    border-radius: 5px;

}
.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date{
background: rgb(2,0,36);
background: -moz-linear-gradient(rgba(0,123,255,1) 100%);
background: -webkit-linear-gradient(rgba(0,123,255,1) 100%);
background: linear-gradient(rgba(0,123,255,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#020024",endColorstr="#007bff",GradientType=1);
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date p{
    display: block;
    font-size: 18px;
    font-weight: 500;
    color: #fff;
    text-align: center;
    margin:0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .post-date span{
    position: relative;
    display: block;
    font-size: 13px;
    line-height: 18px;
    text-transform: uppercase;
    color: #fff;
    margin:0px;
    padding:0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .file-box{
	position: relative;
	margin-bottom: 9px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .file-box i{
    position: relative;
    display: inline-block;
    font-size: 14px;
    color: #666666 !important;
    margin-right: 10px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post .file-box p{
    position: relative;
    display: inline-block;
    margin-bottom:0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post h5{
	position: relative;
	display: block;
	font-size: 18px;
	line-height: 28px;
	font-weight: 600;
	margin-bottom: 0px;
	color: #1d165c;
	margin:0px;
}

.sidebar-page-container .sidebar .sidebar-post .post-inner .post h5 a{
	display: inline-block;
	color: #1d165c;
}
.sidebar-page-container .sidebar .sidebar-post .post-inner .post h5 a:hover{
	color: #e61819;	
}
.carousel-inner-data{
  margin:0px auto;
  height:350px;
  overflow:hidden;
}
.carousel-inner-data ul{
  list-style:none;
  position:relative;
}
.carousel-inner-data li{
  height:auto;
}
.video {
  height: 0;
  position: relative;
  padding-bottom: 56.25%; /* Если видео 16/9, то 9/16*100 = 56.25%. Также и с 4/3 - 3/4*100 = 75% */
}
.video iframe {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.row.heading h2 {
  color: #fff;
  font-size: 52.52px;
  line-height: 95px;
  font-weight: 400;
  text-align: center;
  margin: 0 0 40px;
  padding-bottom: 20px;
  text-transform: uppercase;
}
ul{
margin:0;
padding:0;
list-style:none;
}
.heading.heading-icon {
  display: block;
}
.padding-lg {
display: block;
padding-top: 60px;
padding-bottom: 60px;
}
.practice-area.padding-lg {
  padding-bottom: 55px;
  padding-top: 55px;
}
.practice-area .inner{ 
   border:1px solid #999999; 
 text-align:center; 
 margin-bottom:28px; 
 padding:40px 25px;
}
.our-webcoderskull .cnt-block:hover {
  box-shadow: 0px 0px 10px rgba(0,0,0,0.3);
  border: 0;
}
.practice-area .inner h3{ 
  color:#3c3c3c; 
font-size:24px; 
font-weight:500;
font-family: 'Poppins', sans-serif;
padding: 10px 0;
}
.practice-area .inner p{ 
  font-size:14px; 
line-height:22px; 
font-weight:400;
}
.practice-area .inner img{
display:inline-block;
}
.our-webcoderskull .cnt-block{ 
 float:left; 
 width:100%; 
 background:#fff; 
 padding:30px 20px; 
 text-align:center; 
 border:2px solid #d5d5d5;
 margin: 0 0 28px;
}
.our-webcoderskull .cnt-block figure{
 width:148px; 
 height:148px; 
 border-radius:100%; 
 display:inline-block;
 margin-bottom: 15px;
}
.our-webcoderskull .cnt-block img{ 
 width:148px; 
 height:148px; 
 border-radius:100%; 
}
.our-webcoderskull .cnt-block h3{ 
 color:#2a2a2a; 
 font-size:20px; 
 font-weight:500; 
 padding:6px 0;
 text-transform:uppercase;
}
.our-webcoderskull .cnt-block h3 a{
text-decoration:none;
color:#2a2a2a;
}
.our-webcoderskull .cnt-block h3 a:hover{
color:#337ab7;
}
.our-webcoderskull .cnt-block p{ 
 color:#2a2a2a; 
 font-size:13px; 
 line-height:20px; 
 font-weight:400;
}
.our-webcoderskull .cnt-block .follow-us{
margin:20px 0 0;
}
.our-webcoderskull .cnt-block .follow-us li{ 
  display:inline-block; 
width:auto; 
margin:0 5px;
}
.our-webcoderskull .cnt-block .follow-us li .fa{ 
 font-size:24px; 
 color:#767676;
}
.our-webcoderskull .cnt-block .follow-us li .fa:hover{ 
 color:#025a8e;
}
